<footer>
  <div class="footer-info">© 2022-2023 <%= config.author %> | <a href="https://beian.miit.gov.cn/">渝ICP备18016611号-1</a></div>
  <div class="footer-info">
    <a class="footer-i" href="<%= theme.footer.gitee %>"><i class="iconfont icon-github-fill"></i></a>
    <a class="footer-i" href="<%= theme.footer.mail %>"><i class="iconfont icon-mail"></i></a>
  </div>
</footer>