<!DOCTYPE html>
<html lang="en" class="light">
<%- partial('_partial/head') %>
<script>
  document.documentElement.className = 'dark'
</script>

<body>
  <div class="show-area">
    <%- partial('_partial/header') %>
    <%- body %>
    <%- partial('_partial/footer') %>
  </div>
</body>


</html>